.htn{
    background-color: turquoise;
    width: 200px;
    transition: 2s;
    height: 100px;
}
.htn:hover{
    background-color: whitesmoke;
    transition: 2s;
    width: 400px;
    height:100px
}