* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav {
    background-color: #74b9ff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;
    width: 100%;
}
.nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #e74c3c;
}

.nav-left {
    width: 80%;
    text-align: center;
    align-items: center;
    display: flex;
}

.nav-right {
    width: 5%;
    text-align: center;
    align-items: center;
}
/* 
.img-box {
    width: 50px;
    height: 50px;

} */

.nav-left a {
    margin: 0px 10px;
}
/* 
#cart {
    background-color: #ffeaa7;
    width: 400px;
    height: 600px;
    margin: 10px 0px;
    text-align: center;
    float: left;

}

#Heat {
    background-color: #dfe6e9;
    width: 400px;
    height: 600px;
    text-align: center;
    float: left;
    list-style: none;
    margin: 10px 200px;
}

#Yet {
    width: 400px;
    height: 600px;
    text-align: center;
    float: left;
    list-style: none;
    margin: -435px 550px;
    background-color: #81ecec;

}

.hy {
    width: 400px;
    height: 600px;
    text-align: center;
    float: left;
    list-style: none;
    margin: -435px 1550px;
    background-color: #81ecec;
} */

.img {
    width: 100%;
    height: 100%;
}
.nature-body{
    height: 550px;
}
.nature{
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-top: 20px;
    height: 600px;
    background-color: #2ecc71;
    text-align: center;
}
.natury{
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-top: 20px;
    height: 600px;
    background-color: #e74c3c;
    text-align: center;
}
.natural{
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-top: 20px;
    height: 600px;
    background-color: #1abc9c;
    text-align: center;
}

.cha{
    display: flex;
    justify-content: space-between;
}