*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: whitesmoke;
    display: flex;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

img{
    width: 100%;
    height: 500px;
}
.nav a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.nav a:hover{
    color: #636e72;
    font-family: 'Montserrat', sans-serif;
}
.cart-container{
    display: flex;
    justify-content: space-around;
}

/* sytle do anh hiếu đẹp trai viết  */
.img{
    width: 100%;
    height: 100%;
}
.cart1{
    width: 100%;
    height: 300px;
}
.cart{
    
}